.show {
  position: absolute;
  z-index: 1;
}

.hide {
  display: none;
  z-index: 0;
}

.zoom {
  height: 100vh;
  width: 100vw;
  background: #1212124a;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.item {
    padding: 10px;
    box-sizing: border-box;
}
  
.tile {
    min-height: 200px;
    background-color: white;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
  
.leftRs {
    display: none;
    // position: absolute;
    // margin: auto;
    // top: 0;
    // bottom: 0;
    // width: 50px;
    // height: 50px;
    // box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    // border-radius: 999px;
    // left: 0;
}

.rightRs {
    display: none;
    // position: absolute;
    // margin: auto;
    // top: 0;
    // bottom: 0;
    // width: 50px;
    // height: 50px;
    // box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    // border-radius: 999px;
    // right: 0;
}

.myPoint {
    list-style-type: none;
    text-align: center;
    padding: 12px;
    margin: 0;
    white-space: nowrap;
    overflow: auto;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 5px;
    left: 0;
}
.myPoint  li {
    display: inline-block;
    border-radius: 999px;
    background: #ffd785;
    padding: 5px;
    margin: 0 3px;
    transition: .4s ease all;
}
.myPoint  li.active {
    background: #909090;
    width: 10px;
}


.example-list {
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 5px 2px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }


  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .answer-image {
    height: 40%;
    width: 40%;
  }
  